{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div id="blogpost-tipping">
      <div id="blogpost-align">
        <label for="title">Title</label>
        <input name="title" id="title" value="{{ request.form['title'] }}" required>
      </div>
      <div id="blogpost-align">
        <label for="body exampleFormControlTextarea1" class="form-label">Body</label>
        <textarea class="form-control col-11"name="body" id="body exampleFormControlTextarea1" rows="6">{{ request.form['body'] }}</textarea>
      </div>

    <label for="exampleColorInput" class="form-label">Color picker</label>
    <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c" title="Choose your color">
    <input type="submit" value="Save" class="btn btn-primary">

    </div>  
  </form>
{% endblock %}
