{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Gear{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="desc">Description</label>
    <textarea name="desc" id="desc">{{ request.form['desc'] }}</textarea>
    <label class="form-check-label">Positive arguments:</label>
    {% for arg in argp %}
      <div class="about">{{ arg['content'] }}</div>
      <input type="checkbox" class="form-check-input" id="arg{{ arg['id'] }}" value="arg{{ arg['id'] }}">
    {% endfor %}
    <label class="form-check-label">Negative arguments:</label>
    {% for arg in argn %}
      <div class="about">{{ arg['content'] }}</div>
      <input type="checkbox" class="form-check-input" id="arg{{ arg['id'] }}" value="arg{{ arg['id'] }}">
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Save">
  </form>
{% endblock %}