{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Gears{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for gear in gears %}
    <article class="post">
      <header>
        <div>
          <h1>{{ gear['name'] }}</h1>
          {% for arg in args %}
            {% if arg['gid'] == gear['id'] %}
              {% if arg['type'] %}
              <div class="about">- {{ arg['content'] }}</div>
              {% else %}
              <div class="about">+ {{ arg['content'] }}</div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </header>
      <p class="body">{{ gear['desc'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}